<html xmlns:th="http://www.thymeleaf.org">
<body>
	<!-- en tête -->
	<header th:fragment="header_part">
		<div class="titre">
			<h1>A.P.H.O.G</h1>
			<p>Small efforts can make big changes</p>
			<nav th:if="${session.connectedUser == null}">
				<ul>
					<li><a th:href="@{/connection}">Connection</a></li>
					<li><a th:href="@{/inscription}">Premiére Connection</a></li>
				</ul>
				<a href="#"><img class="img1" src="img/man-user.png"></a> <a
					href="#"><img class="img2" src="img/man-user.png"></a>
			</nav>

			<nav th:unless="${session.connectedUser == null}">
				<ul>
					<li><a class="Co" href="#">Gestion de Compte</a></li>
				</ul>
				<a href="#"><img class="img1" src="img/man-user.png"></a>
			</nav>
		</div>
		<div class="nav">
			<nav>
				<ul>
					<li><a th:href="@{/}">Accueil</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#" th:if="${session.connectedUser != null}">Donation</a></li>
				</ul>
			</nav>
		</div>
	</header>
</body>

</html>