<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="css/style.css">
</head>

<body>

	<!-- en tête -->
	<header th:replace="~{temp/header_template::header_part}"> </header>
	<div>
		<form th:action="@{/doConnection}" method="POST">
			<div>
				<div>
					<label for="courriel">E-mail :</label> <input type="email"
						id="email" name="email">
				</div>
				<div>
					<label for="nom">Password :</label> <input type="password" id="password"
						name="password">
				</div>

				<div class="button">
					<button type="submit">Se connecter</button>
				</div>
				
				<div class="error" th:if="${messageErr!=null}" th:text="${messageErr}"></div>
			</div>
		</form>
	</div>
	<!-- footer -->
	<footer th:replace="~{temp/footer_template::footer_part}"> </footer>
</body>
</html>
